/*
* SkeleSass V1.0
* Kaushik Gopal
* https://github.com/kaushikgopal/SkeleSass
*
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*/

/* Table of Content
==================================================
  #Reset & Basics
  #Variable Definitions
  #Mixins
  #Misc */


/* #Reset & Basics
================================================== */
@import "compass/reset";

// apply a natural box layout model to all elements
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/* #Variable Definitions
================================================== */

// ---- Type definitions --------
$fonts-path:   "../fonts" !default;
$sans: "PT Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: "PT Serif", Georgia, Times, "Times New Roman", serif !default;
$mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !default;
$icon: "entypo-social";

// ---- Color Palette --------


// ---------- Misc -----------



/* #Mixins
================================================== */
@mixin scale-with-grid{
  max-width: 100%;
  height: auto;
}

/* #Misc
================================================== */
  .remove-bottom { margin-bottom: 0 !important; }
  .half-bottom { margin-bottom: 10px !important; }
  .add-bottom { margin-bottom: 20px !important; }